/target
/dist
/.idea
/config.toml
*.swp
*.log
/web/node_modules/
/web/dist/
/web/tsconfig.tsbuildinfo
/jadx-helper/.gradle/
/jadx-helper/.idea/
/jadx-helper/build/
/jadx-helper/app/build/
/jadx-helper/dist/
/jadx-helper/local.properties
/target-release-*/
